.datacontainer {
  margin: 30px;
  overflow: auto;
  border: 2px solid #0d6efd;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  min-height: 100px;
}

.datacontainer.buttons {
  max-width: fit-content;
}
.datacontainer.weather {
  min-width: 450px;
  height: fit-content;
  width: fit-content;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}
